#slider-block  {
    // dots
    & .owl-dots .owl-dot span {
        background-color: $colorWhite;
        height: 3px;
        width: 18px;
        @include transition-mixin('background-color');
    }

    & .owl-dots .owl-dot.active span,
    & .owl-dots .owl-dot:hover span {
        background-color: $colorRed;
    }

    & .owl-dots .owl-dot:focus {
        outline: none;
    }

    & .owl-dots {
        position: absolute;
        bottom: 6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
    }

    // slider
    & .owl-nav {
        position: absolute;
        top: 50%;
        margin: 0;
        width: 100%;
        @include transform-translate(0, -50%);
    }

    & .owl-nav .owl-prev,
    & .owl-nav .owl-next {
        position: absolute;
        display: inline-block;
        color: $colorGrey;
        font-size: 32px;
        top: 50%;
        @include transform-translate(0, -50%);
        @include transition-mixin('color');
    }

    & .owl-nav .owl-prev,
    & .owl-nav .owl-next {
        &:hover {
            color: $colorRed;
            background-color: transparent;
        }

        &:focus {
            outline: none;
        }
    }

    & .owl-nav .owl-prev {
        left: 4px;
    }

    & .owl-nav .owl-next {
        right: 4px;
    }
}
